.input__text {
  text-align: center;
  width: 480px;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #b5b6b7;
  background-color: #eeefe9;
  background-image: url(../images/natural-paper.png);
  font-size: 1.3rem;
}

.input__text:focus {
  outline: none;
}

.lists {
  width: 100%;
}

.form {
  margin-top: 0.5rem;
  border: 0;
  border-bottom: 1px solid #b5b6b7;
  padding: 0.8rem 0;
  margin-left: 0.5rem;
}

.list__date {
  color: gray;
  font-size: 0.9rem;
  text-align: end;
  display: block !important;
  padding: 0 1rem;
}

.list__todo {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0rem 2rem;
  gap: 0.1rem;
}

.list__input {
  font-size: 1.2rem;
}

.list__input:focus {
  outline: none;
  font-size: 1.2rem;
  border: transparent;
  background-color: #eeefe9;
}

.list__done {
  color: green;
  font-size: 1.2rem;
  font-weight: bolder;
}

.list__icons {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 1rem;
}

@media only screen and (max-width: 550px) {
  .input__text {
    width: 330px;
  }
}

@media only screen and (max-width: 400px) {
  .input__text {
    font-size: 1.1rem;
    width: 300px;
  }
  .list__date {
    font-size: 0.85rem;
  }
  .list__input {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  .list__done {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  .list__icons {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 340px) {
  .input__text {
    font-size: 1.05rem;
    width: 250px;
  }
  .list__input {
    font-size: 1.05rem;
  }
  .list__done {
    font-size: 1.05rem;
  }
}
